<article *ngFor="let pysakki of reittiTaulukko">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{pysakki.name}} {{pysakki.code}}

            </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row">
            <div fxFlex="30">

                <mat-list>

                    <mat-list-item *ngFor="let reitti of pysakki.patterns">


                        <span [class]="reitti.directionId | directionToClass">
                            <mat-icon>{{reitti.directionId | routeDirection}}</mat-icon>
                        </span>
                        &nbsp;
                            {{reitti.name}}
                    </mat-list-item>

                </mat-list>

            </div>
            <div fxFlex="70">
                <agm-map [latitude]="pysakki.lat" [longitude]="pysakki.lon" [zoom]="14">
                    <agm-marker [latitude]="pysakki.lat" [longitude]="pysakki.lon"></agm-marker>
                </agm-map>
            </div>
        </div>
    </mat-expansion-panel>
</article>
